<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Row</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/app.css">
</head>

<style>
    .main-body {
        margin-top: 150px;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-1 fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">
                <div class="row">
                    <img src="./phoenix_nav.png" style="width: 200px;" alt="">
                    <!-- <h1>The Demo Page</h1> -->
                </div>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/signin" class="nav-link fw-bolder">SIGN IN</a>
                    </li>
                    <li class="nav-item">
                        <a href="/er" class="nav-link">ER Diagram</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.youtube.com/watch?v=4sosXZsdy-s&t=2642s" class="nav-link">Video Demo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <% if(table_name=="Flights" ){ %>
        <div class="container main-body bg-light border" style="max-width: 700px;">
            <h1 class="p-3">UPDATE / FLIGHTS TABLE</h1>
            <form action="/update_flight" method="post" class="needs-validation" novalidate name="myForm"
                onsubmit="return(Validate());">
                <div class="d-flex flex-column justify-content-center mt-3">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-floating mb-4" style="margin:auto">
                                <input type="text" class="form-control" id="flight_id" name="flight_id"
                                    placeholder="Ex: AA1137" required>
                                <label class="text-muted" for="flight_id">Flight ID</label>
                                <div class="invalid-feedback" style="font-weight: bolder;">
                                    Please enter Flight ID!
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="text-center">
                                <button type="submit" class="btn btn-success btn-lg fw-bolder"> UPDATE</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <% }else if(table_name==" Aircrafts" ){ %>
            <div class="container main-body bg-light border" style="max-width: 700px;">
                <h1 class="p-3">UPDATE / AIRCRAFTS TABLE</h1>
                <form action="/update_aircraft" method="post" name="myForm" class="needs-validation" novalidate
                    name="myForm" onsubmit="return(Validate_aircraft());">
                    <div class="d-flex flex-column justify-content-center mt-3">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-floating mb-4" style="margin:auto">
                                    <input type="text" class="form-control" id="aircraft_code" name="aircraft_code"
                                        placeholder="Ex: AA1137" required>
                                    <label class="text-muted" for="aircraft_code">Aircraft Code</label>
                                    <div class="invalid-feedback" style="font-weight: bolder;">
                                        Please enter Aircraft Code!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success btn-lg fw-bolder"> UPDATE</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <% }else{ %>
                <div class="container main-body bg-light border" style="max-width: 700px;">
                    <h1 class="p-3">UPDATE / AIRPORTS TABLE</h1>
                    <form action="/update_airport" method="post" name="myForm" class="needs-validation" novalidate
                        name="myForm" onsubmit="return(Validate_airport());">
                        <div class="d-flex flex-column justify-content-center mt-3">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-floating mb-4" style="margin:auto">
                                        <input type="text" class="form-control" id="airport_code" name="airport_code"
                                            placeholder="Ex: AA1137" required>
                                        <label class="text-muted" for="airport_code">Airport Code</label>
                                        <div class="invalid-feedback" style="font-weight: bolder;">
                                            Please enter Airport Code!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success btn-lg fw-bolder"> UPDATE</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <% } %>

                    <script type="text/javascript">
                        function Validate() {
                            const flight_id = document.myForm.flight_id.value
                            const aircraft_code = document.myForm.aircraft_code.value
                            if (isNaN(flight_id[0, 1]) && !isNaN(flight_id[2, 3, 4, 5]) && flight_id.length == 6) {
                                if (aircraft_code.length == 3 && !isNaN(aircraft_code[0, 1, 2])) {
                                    alert("asdsad")
                                    return true
                                } else {
                                    alert("Please enter a valid aircraft code. Ex: 338")
                                    return false
                                }
                            }
                            else {
                                alert("Please enter a valid flight ID. Ex: AA1137")
                                return false
                            }
                        }

                    </script>

                    <script type="text/javascript">
                        function Validate_aircraft() {
                            const aircraft_code = document.myForm.aircraft_code.value

                            if (aircraft_code.length == 3) {
                                return true
                            }
                            else {
                                alert("Please enter a valid aircraft code. Ex: 338")
                                return false
                            }
                        }
                    </script>

                    <script type="text/javascript">
                        function Validate_airport() {
                            const airport_code = document.myForm.airport_code.value
                            if (airport_code.length == 3 && isNaN(airport_code[0]) && isNaN(airport_code[1]) && isNaN(airport_code[2])) {
                                return true
                            }
                            else {
                                alert("Please enter a valid airport code. Ex: HOU")
                                return false
                            }
                        }
                    </script>




                    <script>
                        var forms = document.querySelectorAll('.needs-validation')

                        // Loop over them and prevent submission
                        Array.prototype.slice.call(forms)
                            .forEach(function (form) {
                                form.addEventListener('submit', function (event) {
                                    if (!form.checkValidity()) {
                                        event.preventDefault()
                                        event.stopPropagation()
                                    }

                                    form.classList.add('was-validated')
                                }, false)
                            })
                    </script>


</body>

</html>