<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ER Diagram</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-1 fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">
                <div class="row">
                    <img src="./phoenix_nav.png" style="width: 200px;" alt="">
                    <!-- <h1>The Demo Page</h1> -->
                </div>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/signin" class="nav-link fw-bolder">SIGN IN</a>
                    </li>
                    <li class="nav-item">
                        <a href="/er" class="nav-link">ER Diagram</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.youtube.com/watch?v=4sosXZsdy-s&t=2642s" class="nav-link">Video Demo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-sm pt-5">
        <h1 class="mt-5">ER Diagram</h1>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <img src="er.png" alt="Responsive image" class="img-fluid">
    </div>

</body>

</html>